In [1]:
if 3>2:
    print('its true!')

its true!

In [4]:
hungry = False
if hungry:
    print('feed me!')
else:
    print('im not hungry')

im not hungry

In [9]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars re cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store.")
else:
    print("I do not know much.")

Cars re cool!

In [10]:
name = 'Sammy'

if name == 'Fankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

In [11]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [16]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [19]:
for num in mylist:
    if num % 2==0:
        print(num)
    else:
         print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [25]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
 print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [26]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [28]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [29]:
len(mylist)

4

In [31]:
for (a,b) in mylist:
    #print(a)
    print(b)

2
4
6
8

In [38]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [39]:
for a,b,c in mylist:
    print(b)

2
5
8

In [40]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [4]:
x = 1

while x <= 5:
    print(f'The crrent value of x is {x}')
    x = x + 1

The crrent value of x is 1
The crrent value of x is 2
The crrent value of x is 3
The crrent value of x is 4
The crrent value of x is 5

In [6]:
mystring = 'Sammy'

In [7]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [8]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [9]:
x = 1

while x <= 5:
    
    if x == 3:
        break
    print(f'The crrent value of x is {x}')
    x = x + 1

The crrent value of x is 1
The crrent value of x is 2

In [10]:
mylist = [1,2,3]

In [1]:
for num in range(3,10,2): #range(start, stop, step)
    print(num)

3
5
7
9

In [18]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [22]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [24]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [27]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [28]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [29]:
'a' in 'a world'

True

In [30]:
'mykey' in {'mykey':1415}

True

In [31]:
d = {'mykey':345}

345 in d.keys()

False

In [32]:
mylist = [10,20,30,40,100]

In [33]:
min(mylist)

10

In [34]:
max(mylist)

100

In [35]:
from random import shuffle

In [36]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [39]:
random_list = shuffle(mylist)

In [41]:
type(random_list)

NoneType

In [42]:
mylist

[3, 1, 2, 8, 7, 9, 10, 6, 4, 5]

In [43]:
from random import randint

In [45]:
randint(0,100)

19

In [46]:
randint(0,100)

88

In [48]:
mynum = randint(0,100)

In [49]:
mynum

2

In [50]:
mynum

2

In [51]:
result = input('Favourite Number: ')

Favourite Number: 777

In [52]:
type(result)

str

In [53]:
float(result)

777.0

In [54]:
int(result)

777

In [55]:
mystring = 'hello'

In [56]:
mylist = []

In [57]:
for letter in mystring:
    mylist.append(letter)

In [58]:
mylist

['h', 'e', 'l', 'l', 'o']

In [59]:
mylist = [letter for letter in mystring]

In [60]:
mylist

['h', 'e', 'l', 'l', 'o']

In [61]:
mylist = [x for x in 'word']

In [62]:
mylist

['w', 'o', 'r', 'd']

In [67]:
mylist = [num for num in range(0,11)]

In [68]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
mylist = [num**2 for num in range(0,11)]

In [70]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [75]:
mylist

[0, 4, 16, 36, 64, 100]

In [77]:
celcius = [0, 10, 20 ,34.5]

In [78]:
fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [79]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [80]:
fahrenheit = []

In [81]:
for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [82]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [83]:
results =  [x if x%2==0 else 'ODD' for x in range(0,11)]

In [85]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [87]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [88]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [89]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [90]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [2]:
'word'

In [3]:
word.length

AttributeError: 'str' object has no attribute 'length'

In [4]:
len(word)

4

In [7]:
[num for num in range(0,101)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]